<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <%- include("_css") %>

</head>
<body style="background-color: gray;">
    <div class="container">
        <div style="padding: 10px;">
            <button><a href="/">Back to Login</a></button>
        </div>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="userbane">username</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
        </form>
    <%- include("_body") %>
</body>
</html>